
 .anim-classic {
    margin: 0;
    background: radial-gradient(ellipse farthest-corner at center bottom, #000000, #000000);
    color: #000000;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size:30px;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  
  
  .anim-classic {
    cursor: pointer;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-transition: background-size 0.8s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    transition: background-size 0.8s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  }
  
  
  .anim-classic {
    background-image: radial-gradient(circle farthest-corner at center center, rgb(51, 51, 51) 0%, rgb(51, 51, 51) 50%, transparent 50.1%);
    background-position: 50% 50%;
    background-size: 0% 0%;
  }
  .anim-classic:hover {
    background-size: 180% 400%;
  }

  pagination-controls::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  pagination-controls {
    font-size: 1em;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    padding: 0.2em ;
    margin: 1rem;
    position: relative;
    z-index: 1;
  }
  pagination-controls:hover {
    color: #3498db;
  }
  pagination-controls[class^="grow"]::after {
    transition: all 0.3s ease;
  }
  pagination-controls[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
  }
  pagination-controls.grow_box::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
  }
  pagination-controls.grow_box:hover::after {
    transform: scale(1, 1);
  }
  pagination-controls ul:hover::after{
      background-color: red;
      font-size: 15px;
      color: black;
  }
  .others {
    background-color:black;
    color: white;
}
#select,#select2{
    box-shadow: none;
}
body {
  background-color: #eee;
}
input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #ffffff;
}

.no-outline:focus {
  outline: none;
}

::selection {
  background: rgb(255, 0, 128);
  color: white;
}


.list {
  list-style: none;
  width: 600px;
  max-width: 90%;
}

.item {
  display: block;
  clear: both;
  counter-increment: list;
  padding-bottom: 2.4rem;
  font-size: 1.1rem;
  line-height: 2.375;
  position: relative;
}

.item:before {
  font: bold 2.25rem/1 Montserrat, Roboto, Helvetica, Arial, sans-serif;
  content: counter(list);
  width: 5rem;
  height: 5rem;
  float: left;
  margin: 0 1.5rem 0.75rem 0;
  color: #fdfdfd;
  background: #4d4dff linear-gradient(to bottom right, #4d4dff 15%, #ff3399);
  text-shadow: 0 0 2px #4d4dff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  shape-outside: ellipse();
  z-index: 1;
}

.item:after {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #4d4dff;
  z-index: -1;
  border-top-left-radius: 3px;
}